.header-container {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header-ro-flag {
    position: absolute;
    z-index: 2;
    transform: translateX(-25px) translateY(21px) rotateZ(-20deg);
}

.header-title-top {
    z-index: 2;
    margin-top: 20px;
    text-align: center;
}

.header-title-bottom {
    z-index: 1;
    text-align: center;
    margin-top: -35px;
}

.header-title-bottom,
.header-title-top {
    color: white;
    font-size: 2.4rem;
    font-family: var(--font-title);
}

.header-text-blue {
    color: #1856d4;
}

.header-text-yellow {
    color: #fcd116;
}

.header-text-red {
    color: #ef4444;
}
