.made-by {
    font-family: 'Exo 2', sans-serif;
    font-size: 0.8rem;
    color: white;
    font-style: italic;
    text-decoration: none;
}
.made-by:hover:not(.no-hover) {
    cursor: pointer;
}

.footer {
    text-align: center;
    margin: 0 5px 20px 5px;
}
