.info-div {
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 72, 96, 0.98);
    border: 2px solid white;
    min-height: 40px;
    max-width: 350px;
    padding: 10px 10px 10px 10px;
    border-radius: 3px 3px 3px 3px;
    transition: all 600ms ease-in-out;
}
.hide-text {
    transition: all 0ms;
    opacity: 0;
}
.info-div.hide {
    opacity: 0;
}
.info-div p {
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    font-size: 1.1rem;
}
.info-div-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.underline {
    text-decoration: underline;
}