body {
  --gap-between: 6px;
  --margin-bottom: 10px;
  --key-height: 45px;
  --grid-padding-top: 7px;
  --grid-padding-bottom: 5px;
  --grid-max-height: calc(var(--margin-bottom)*3 + var(--key-height)*3 + var(--grid-padding-bottom) + var(--grid-padding-top));
}

.key-row {
  display: grid;
  justify-content: center;
  gap: var(--gap-between); 
  width: 100%;
  max-width: 500px;
  margin-bottom: var(--margin-bottom);
}

.key-row.row-1 {
  grid-template-columns: repeat(10, 1fr); 
}

.key-row.row-2 {
  grid-template-columns: 0.5fr repeat(9, 1fr) 0.5fr; 
}

.key-row.row-3 {
  grid-template-columns: 1.5fr repeat(7, 1fr) 1.5fr; 
}

.key-box {
  background-color: #2A5368;
  width: 100%;
  height: var(--key-height);
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 10% 10% 10% 10%;
  user-select: none;
  transition: background-color 1s ease-in;
}
.key-box:active {
  background-color: rgb(160, 160, 160);
}
.key-box > p {
  user-select: none;
}
.longer {
  width: 40px;
}
.keyboard-grid {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  max-height: var(--grid-max-height);
  z-index: 999;
  padding-top: var(--grid-padding-top);
  padding-bottom: var(--grid-padding-bottom);
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box; 
  background-color: rgba(0, 36, 48, 0.85);
  border-radius: 10px 10px 0px 0px;
}

.key-letter, .react-icon {
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.wrong-letter-key {
  background-color: #5c7680 !important;
}
.guessed-letter-key {
  background-color: #2ea200 !important;
}
.half-letter-key {
  background-color: #e6b800 !important;
}