.card {
    background-color: rgba(36, 36, 36, 0.98);
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0, 0.4);
    padding: 24px;
    width: 100%;
    margin: 7px 10px;
    line-height: 1.35;
}
