body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(23, 23, 23);
    overflow-x: hidden;

    display: grid;
    grid-template-rows: auto 1fr auto;

    --bg-gradient: linear-gradient(155deg, #292929 0%, #1d1d1d 100%);
}

body {
    margin: 0;
    background-color: rgb(23, 23, 23);

    background-image: linear-gradient(
        -45deg,
        rgb(23, 23, 23) 0%,
        rgb(23, 23, 23) 40%,
        rgb(28, 28, 28) 50%,
        rgb(23, 23, 23) 60%,
        rgb(23, 23, 23) 100%
    );

    background-size: 400% 400%;

    animation: clean-flow 15s ease-in-out infinite;
}

@keyframes clean-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: #93c5fd;
}

p {
    color: white;
}

@keyframes autofillFix {
    to {
    }
}

input:-webkit-autofill {
    animation-name: autofillFix;
    animation-fill-mode: both;
    animation-duration: 0.01s;

    -webkit-box-shadow: 0 0 0 50px rgb(35, 35, 35) inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-size-adjust: auto;
    font-size: 1rem !important;
    line-height: normal !important;
}
