body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(23, 23, 23);
    overflow-x: hidden;

    display: grid;
    grid-template-rows: auto 1fr auto;

    --bg-gradient: linear-gradient(155deg, #292929 0%, #1d1d1d 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: #93c5fd;
}

p {
    color: white;
}

@keyframes autofillFix {
    to {
    }
}

input:-webkit-autofill {
    animation-name: autofillFix;
    animation-fill-mode: both;
    animation-duration: 0.01s;

    -webkit-box-shadow: 0 0 0 50px rgb(35, 35, 35) inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-size-adjust: auto;
    font-size: 1rem !important;
    line-height: normal !important;
}
