.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms ease;
}

.modal-container {
    display: flex;
    justify-content: center;
    font-family: var(--font-exo2);
}

.modal-title {
    margin-top: -10px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: white;
    font-family: var(--font-capriola);
}

.modal-secret-word {
    font-size: 1.05em;
    display: inline;
    font-weight: 600;
    margin-left: 0.3em;
    font-family: var(--font-capriola);
    text-transform: capitalize;
}

.buttons-modal-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fade-in {
    opacity: 1;
    pointer-events: auto;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
}

.modal {
    background: rgba(49, 49, 49, 0.98);
    padding: 1em;
    padding-top: 2em;
    border-radius: 12px;
    max-width: 350px;
    width: 80%;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    text-align: justify;
    font-family: 'Exo 2', sans-serif;
}

.modal-button {
    padding: 4px 20px;
    border-radius: 10px 10px 10px 10px;
    color: white;
    border: white 1px solid;
    cursor: pointer;
    margin: 5px 0;
    background: var(--bg-gradient);
    transition: all 100ms ease-out;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    font-family: var(--font-capriola);
    font-size: 1.15rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.modal-button:active {
    scale: 0.9;
}

.modal-button:hover {
    opacity: 0.5;
}

.close-button {
    display: inline;
    position: absolute;
    top: 0.95em;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

.close-button:hover {
    color: #000;
}

.modal-definition {
    font-style: italic;
    display: inline;
    text-align: left;
}
.modal-definition-source {
    display: block;
    text-align: center;
    font-size: 0.9em;
    color: rgb(243, 243, 243);
}
